<!DOCTYPE html>
<html lang="en" ng-app="roborouter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>RoboRouter Access Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="libs/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="libs/css/navbar-fixed-top.css" rel="stylesheet"> -->
    <link href="libs/css/test.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RoboRouter</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li <% if (page=="home") { %> class="active"<% } %> >
                <a href="/">Home</a>
              </li>
              <li <% if (page=="settings") { %> class="active"<% } %> >
                <a href="/settings">Settings</a>
              </li>
              <li <% if (page=="contact") { %> class="active"<% } %> >
                <a href="/contact">Contact</a>
              </li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">Logout</a></li>
              <!-- <li><a href="../navbar-static-top/">Static top</a></li>
              <li class="active"><a href="./">Fixed top</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container bs-docs-continer">
        <div class="row">
          <!-- Main component for a primary marketing message or call to action -->
          <div class="col-md-3">
            <!-- <div class="well sidebar-nav"> -->
            <div class="bs-sidebar hidden-print affix">
              <!-- <ul class="nav"> -->
              <ul class="nav bs-sidenav">
                <li>General</li>
                <li class="active"><a href="#internet">Internet</a>
                  <!-- <ul class="nav">
                    <li><a href="#internet1">...</a></li>
                    <li><a href="#internet2">...</a></li>
                  </u1> -->
                </li>
                <li><a href="#robots">Robots</a></li>
                <li><a href="#account">Account</a></li>
                <li><a href="#account">...</a></li>
                <li>More</li>
                <li><a href="#account">...</a></li>
                <li><a href="#account">...</a></li>
              </ul>
            </div><!--/.well -->
          </div>

           <div class="col-md-9" role="main">
            <% include internet %>
<!--            <% include robots %> -->
            <% include account %>
          </div>
        </div>
      </div> <!-- /container -->

    </div> <!-- /wrap -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">&copy; Distributed Organisms B.V. 2013</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="libs/js/jquery.js"></script>
    <script src="libs/js/bootstrap.min.js"></script>
    <script src="libs/js/angular.min.js"></script>
    <script src="scripts/account.js"></script>
    <script src="scripts/internet.js"></script>
  </body>
</html>