<% include header %>

				<div class="row">
					<!-- Main component for a primary marketing message or call to action -->
					<div class="col-md-3">
						<!-- <div class="well sidebar-nav"> -->
						<div class="bs-sidebar hidden-print affix">
							<!-- <ul class="nav"> -->
							<ul class="nav bs-sidenav">
								<li>Robots</li>
								<li class="active"><a href="#robots">Networks</a>
									<!-- <ul class="nav">
										<li><a href="#robots1">...</a></li>
										<li><a href="#robots2">...</a></li>
									</u1> -->
								</li>
								<li>General</li>
								<li><a href="#general">Settings</a></li>
								<li><a href="#account">Account</a></li>
								<li>More</li>
								<li><a href="#">...</a></li>
							</ul>
						</div><!--/.well -->
					</div>

					 <div class="col-md-9" role="main">
						<% include robots %>
						<% include account %>
					</div>
				</div>
			</div> <!-- /container -->

		</div> <!-- /wrap -->

		<div id="footer">
			<div class="container">
				<p class="text-muted credit">&copy; Distributed Organisms B.V. 2013</p>
			</div>
		</div>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="libs/js/jquery.js"></script>
		<script src="libs/js/bootstrap.min.js"></script>
		<script src="libs/js/angular.min.js"></script>
		<script src="scripts/robots.js"></script>
		<script src="scripts/account.js"></script>
	</body>
</html>