<!doctype html>
<html ng-app>
<head>
  <script src="libs/js/angular.min.js"></script>
  <script src="scripts/script.js"></script>
</head>
<body>
  <div ng-controller="AccountCtrl">
    <form novalidate class="css-form" ng-submit="submit()">
      Old Password: <input type="password" ng-model="account.old_pwd" /><br />
      New Password: <input type="password" ng-model="account.new_pwd" /><br />
      Confirm Password: <input type="password" ng-model="account.confirm_pwd" /><br />
      <button type="submit">SAVE</button>
    </form>
    <pre>account = {{account | json}}</pre>
  </div>
</body>
</html>